---
title: Autch.net
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>ダウンロード</h3>
      {% for category in site.data.downloads %}
      <div class="card">
        <div class="card-header">
          {{category.title}}
        </div>
        <ul class="list-group list-group-flush">
          {% for item in category.items %}
          <div class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{% if item.github %}<i class="fa fa-github"></i> <a href="https://github.com/{{item.github}}">{{item.name}}</a>{% else %}{{item.name}}{% endif %}</h5>
              <span>
                {% if item.github %}<a href="https://github.com/{{item.github}}" class="btn btn-sm btn-outline-primary" title="GitHub"><i class="fa fa-github"></i> <span class="">GitHub</span></a>{% endif %}
                {% if item.download %}<a href="{{item.download}}" class="btn btn-sm btn-outline-primary" title="ダウンロード"><i class="fa fa-download"></i> <span class="">ダウンロード</span></a>{% endif %}
                {% if item.source %}<a href="{{item.source}}" class="btn btn-sm btn-outline-primary" title="ソースコード"><i class="fa fa-code"></i> <span class="">ソースコード</span></a>{% endif %}
              </span>
            </div>
            <p class="mb-1">{{item.description}}</p>
          </div>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div>{% include github.html %}</div>
      <div>{% include twitter.html %}</div>
      <div>{% include hatena.html %}</div>
    </div>
  </div>
</div>
