---
layout: phone
title: Autch.net mobile
is_index: true
---
<div id="index" data-role="page" data-title="Autch.net mobile">
  <div data-role="header"><h1>Autch.net mobile</h1>
    <a data-role="button" href="/index.html" target="_self">PC 版へ</a>
  </div>
  <ul data-role="listview">
    <li><a href="#diary">はてダ最新記事</a></li>
    <li><a href="#antenna">アンテナ</a></li>
    <li><a href="#link">リンク</a></li>
  </ul>
</div>

<div id="diary" data-role="page" data-title="はてダ最新記事">
  <div data-role="header"><h1>はてダ最新記事</h1>
    <a href="#index" data-icon="home" data-direction="reverse" class="ui-btn-left jqm-home">ホーム</a>
  </div>
  <ul data-role="listview" id="diary-entries">
    <li>読み込み中…</li>
  </ul>
  <a data-role="button" target="_blank" href="http://d.hatena.ne.jp/autch/">もっと見る</a>
</div>

<div id="antenna" data-role="page" data-title="アンテナ">
  <div data-role="header"><h1>アンテナ</h1>
    <a href="#index" data-icon="home" data-direction="reverse" class="ui-btn-left jqm-home">ホーム</a>
  </div>
  <ul data-role="listview" id="antenna-entries">
    <li>読み込み中…</li>
  </ul>
  <a data-role="button" target="_blank" href="http://a.hatena.ne.jp/autch/">もっと見る</a>
</div>

<div id="link" data-role="page">
  <div data-role="header"><h1>リンク</h1>
    <a href="#index" data-icon="home" data-direction="reverse" class="ui-btn-left jqm-home">ホーム</a>
  </div>
  <div data-role="collapsible-set">
    {% for category in site.links %}
    <div data-role="collapsible" data-theme="c" data-content-theme="d">
      <h3>{{ category.title | escape }}</h3>
      <ul data-role="listview" id="link-entries" data-inset="true">
	{% for item in category.items %}
	<li><a target="_blank" href="{{ item.href | escape }}">{{ item.title | escape }}</a></li>{% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
