---
title: Autch.net
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div>{% include github.html %}</div>
      <div>{% include twitter.html %}</div>
      <div>{% include hatena.html %}</div>
    </div>
    <div class="col-sm-8">
      <h3>ダウンロード</h3>
      {% for category in site.data.downloads %}
      <div class="card">
        <div class="card-header" role="tab">
        {{category.title}}
        </div>
        {% for item in category.items %}
          <div class="card-body">
            <h4 class="card-title">{% if item.github %}<i class="fa fa-github"></i> {% endif %}
              {{item.name}}
            </h4>
            <p class="card-text">{{item.description}}</p>
            <div>
              {% if item.github %}<a href="https://github.com/{{item.github}}" class="btn btn-sm btn-primary" title="GitHub"><i class="fa fa-github"></i> <span class="">GitHub</span></a>{% endif %}
              {% if item.download %}<a href="{{item.download}}" class="btn btn-sm btn-primary" title="ダウンロード"><i class="fa fa-download"></i> <span class="">ダウンロード</span></a>{% endif %}
              {% if item.source %}<a href="{{item.source}}" class="btn btn-sm btn-primary" title="ソースコード"><i class="fa fa-code"></i> <span class="">ソースコード</span></a>{% endif %}
            </div>
          </div>
          {% unless forloop.last %}<hr>{% endunless %}
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
