<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="Content-Language" content="ja">
  <meta charset="UTF-8">
  <title>{{ page.title }}{% if page.is_index == FALSE %} - Autch.net mobile{% endif %}</title>  
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css">
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  <script type="text/javascript" src="{{site.url_prefix}}/load-rss.js"></script>
  <script type="text/javascript">
    jQuery('#diary').live('pageinit', function(event) {
      construct_uls("http://d.hatena.ne.jp/autch/rss", 10, "#diary-entries");	
    });
    jQuery('#antenna').live('pageinit', function(event) {
      construct_uls("http://a.hatena.ne.jp/autch/rss", 10, "#antenna-entries");
    });
  </script>
</head> 
<body>
{{ content }}
</body>
</html>
